#root {
  text-align: center;
}

h1 {
  margin: 1rem auto 4rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* App.css */

/* Style for the h1 element within the App component */
.App h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

/* Style for the span element within the h1 element in the App component */
.App h1 span {
  color: #442b27; /* Example color */
  font-weight: bold;
}

.product--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  max-width: 320px;
  margin: auto 1rem;
  text-align: center;
  font-family: arial;
  margin-bottom: 20%;
  border: none;
}

.price {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.card button {
  padding: 12px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  border-radius: 20px;
}

.card button:hover {
  background-color: #333;
}

h4 {
  font-size: 20px;
}
.des {
  color: rgb(161, 7, 7);
}
.heart-icon {
  color: #4140405a; /* Example color for the heart icon */
  margin-left: 8px; /* Space between the name and the icon */
  font-size: 18px;
}
.heart-icon:hover {
  color: red;
}
